
  

  .titre {
    text-align: center;
    border: 2px solid black;
    padding: 10px 20px;
    background-color: white;
    margin: 20px auto;
    width: fit-content;
  }
  

  .reste {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
  }
  
  .box {
    width: 200px;
    padding: 10px;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    background-color: white;
  }
  
  .box h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .dansboite {
    font-size: 14px;
    color: #333;
    margin: 0;
  }
  
  .image {
    width: 100%;
    height: auto;
    margin-top: 5px;
  }
  

  .texte {
    flex-grow: 1;
    border: 3px solid #000;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    background-color: white;
  }
  
  .texte .dansboite {
    margin-bottom: 10px;
    font-size: 14px;
  }
  