* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > header {
    top:0;
    left:0;
    width:100%;
    display: flex;
    height:70px;
    justify-content: space-between;
    align-items: center;
    background-color: #eb126e;
    padding: 15px 20px;
    border-bottom: 6px solid #000000;
}


.nav-gauche ul {
    display: flex;
    gap: 10px; 
    list-style-type: none;
    margin-bottom: 15px ;
    margin-top: 15px;

}
.nav-gauche a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;

}
.nav-gauche a:hover {
    background-color: white;
    color: navy;
}
.header-mid {
    position: absolute;
    left: 50%;
    display: flex;
    margin-top: 5px;
    align-items: center;
    text-align: center;
}

.header-mid .logo {
    width: 50px;
    height: auto;
}

.header-mid h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}


.nav-droite ul {
    display: flex;
    list-style-type: none;
    gap: 1px;
}

.nav-droite a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-droite a:hover {
    background-color: white;
    color: navy;
    border-radius: 5px;
}



main {
    flex-grow: 1; 
}

body>footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    bottom:0;
    position:relative;
    padding:10px;
    height:100px;
    border-style: solid;
    background-color: #ffe038;
    border-color:black;
}

.footer-img{
    width: 200px;
    height: auto;
}

body{
    height: auto;
    background-image:url("../img/image-bus.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
