
.titre {
    text-align: center;
    border: 2px solid black;
    padding: 10px 20px;
    background-color: white;
    margin: 20px auto;
    width: fit-content;
  }

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  height: 600px;
}

.box {
  flex: 1 1 22%;
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  color: white;
}

.box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

p {
  font-family: Arial, sans-serif;
  color: black;
}



