  .titre {
    text-align: center;
    border: 2px solid black;
    padding: 10px 20px;
    background-color: white;
    margin: 20px auto;
    width: fit-content;
  }

  

  .reservation {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 50px;
  }
  
 
  .box {
    background-color: white;
    padding: 15px;
    border: 1px solid lightgrey;
    width: 22%;
    text-align: center;
    border-radius: 8px;
  }
  
  .vehicule-img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  

  .description,
  .vehicule-type,
  .prix {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  

  .forme {
    margin: 10px 0;
    font-size: 0.8rem;
  }
  
  .forme label {
    margin: 0 5px;
  }

  .bouton {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
  }
  

  

  .bas {
    text-align: center;
    border: 2px solid black;
    padding: 10px 20px;
    background-color: white;
    margin: 20px auto;
    width: fit-content;
  }