main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.description {
    border: 3px solid #000000;
    margin-bottom: 20px;
    padding: 20px;
    height: auto;
    text-align: left;
    position: relative;
    top: 10px;
}

.bas {
    display: flex;
    gap: 20px;
}

.contact {
    border: 3px solid black;
    width: auto;
    height: 150px;
    padding: 10px;
    margin-top: 30px;
    background-color: white;
    position: relative;
    left: 100px;
    top: 30px;
}

.img {

    width: 500px;
    height: 300px;
    position: relative;
    left: 270px;

}
