.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  

.connexion{
    background: white;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  

  
.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
  }
  
.input label {
    font-size: 0.9rem;
    color: grey;
    margin-bottom: 5px;
  }
  
.input input {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid lightgrey;
    border-radius: 4px;
    transition: border-color 0.2s ease;
  }
  
 

  .bouton {
    background-color:black;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
  }
  
  .bouton:hover {
    background-color: #004494;
  }
  