main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

.demande {
    width: 80% auto;
    margin: 20px ;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




h1{
    text-align: center;
    margin-top: -40px;
}

fieldset {
    border: 1px solid whitesmoke;
    padding: 20px;
    border-radius: 5px;
}



.forme input, 
.forme select, 
.forme textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
}

.forme input[type="range"] {
    width: calc(100% - 16px);
    margin: 0 8px 15px;
}

.contact-options label {
    display: inline-block;
    margin-right: 10px;
}

textarea {
    resize: vertical;
}

button{
    background-color:white;
    color: black;
    padding: 10px 20 px;
    font-size: 15px;
    border: solid 2px;
    border-color: black;
    border-radius: 0%;

}

