
.titre {
  text-align: center;
  border: 2px solid black;
  padding: 10px 20px;
  background-color: white;
  margin: 20px auto;
  width: fit-content;
}


.boite {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: calc(100vh - 120px); 
  width: 100%;
  position: relative;
}


.bouton {
  padding: 15px 30px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.bouton:hover {
  color:blue
}


.texte{
  border: 2px solid black;
  padding: 20px;
  height: 400px;
  width: 500px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: justify;
}
